<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AirQuality WebApp</title>
  <link rel="stylesheet" href="/static/orange.css" />
</head>
<body>
  <div class="app-wrap">
    <header>
      <form action="/submit" method="POST">
      <input type="search" name="name" id="name" autocomplete="off" class="search-box" placeholder="Search for a city..." />
    </form>
    </header>
    <main>
      <section class="location">
        <div class="city">#{City}</div>
        <div class="date">#{Date}</div>
      </section>
      <div class="current">
        <div class="AQI">#{AQI}</div>
        <div class="hi-low">Unhealty for sensitive groups</div>
        <div class="weather">Air quality is safe for healthy fit people.<br>Old age people should go outdoors wearing a proper mask.<br>All sensitive groups should limit spending any time outdoors.</div>
        <div class="hi-low">#{Pollutant}</div>
      </div>
    </main>
  </div>
</body>
</html>