<!DOCTYPE html>
<html lang = "eng">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Pollution website</title>
     style
      include ../static/style1.css 
</head>

<body>
    <div class="container">
    <p id="first">#{City}</p>
    <p id="second">#{AQI}</p>
    <p id="third">#{Pollutant}</p>
    <p id="fourth">Good</p>
    <ul>
       <li>➤ Air quality is safe.</li>
       <li>➤ Great day for everyone to enjoy outdoors.</li>
       <li>➤ Their is no repiratory health risk to anyone.</li>
    </ul>
    </div>
</body>
</html>