<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AirLookout</title>
  <link rel="stylesheet" href="/static/yellow.css" />
</head>
<body>
  <div class="app-wrap">
    <header>
      <form action="/air" method="POST">
      <input type="search" name="name" id="name" autocomplete="off" class="search-box" placeholder="Search for a city..." />
    </form>
    </header>
    <main>
      <section class="location">
        <div class="city">#{City}</div>
        <div class="date">#{Date}</div>
      </section>
      <div class="current">
        <div class="AQI">#{AQI}<span>#{Pollutant}</span></div>
        <div class="hi-low">Moderate</div>
        <div class="weather">Air quality is good for healthy people.<br>People with health conditions should avoid strenous outdoor activities.<br>Presence of minor pollutants in air can lead to health risks for sensitive people.</div>
      </div>
    </main>
  </div>
</body>
</html>
